- if sentry_event_id = Raven.last_event_id
  :javascript
    Raven.showReportDialog({ eventId: '#{sentry_event_id}' });

%body
  %header.main-page
    %h1= Figaro.env.dashboard_title
  %section#courses
    .container.narrow
      .section-header
        %h3= t("error_500.header")
        %p= t("error_500.explanation")
